/* reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* proprieta comuni */
html{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}
/* header */

header{
    height:25vh;
    background-image: url(../img/pattern.png);
    background-color:#008ae6;
    
    padding-top:9rem;
    padding-left:3rem;

}
header img{
    width: 18%;
   
}
/* container */
#container{
    width: 95%;
    margin:0 auto;
}
#container h1{
   font-size: 3.8rem; 
    
}

/* aggiorno colore ai sottitoli  */
.sub-title{
    color: #808080;
    font-size: 1.6rem;
}

h3.sub-title{
    font-size: 2rem;

}
.sub-title span{
    color: #00bfff;
}
/* dimensionamento foto */
figure{
    margin-bottom: 2rem;
    margin-top:2rem;
}
figure .first{
    width:46%;
}
figure .second{
    width:39.3%;
}


/* formattazione article */

article{
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

/* colore parte importante paragrafi di article */
article p .yellow-part{
    background-color: yellow;
}
article ul{
    margin-top: 2rem;
    padding-left: 1rem;
    margin-bottom: 2rem;
}
/* dimensionamento tabelle e colori */

table {
    margin-bottom: 2rem;
}

tr .modify{
    width:30%;
}
thead tr th{
  background-color:#00bfff;
    vertical-align:baseline;
    text-align: left;
}
tbody tr:first-child,tbody tr:last-child{
    background-color:#b3ecff;
}

/* /* aggiorno dimensione a titolo aside */
h4.sub-title{
    font-size: 1.7rem;
    font-weight:bold;
} 
/* aside impostazione sfondi */
aside div span{
    font-size: 2.2rem;
    font-weight: 700;
    color: white;
}

.sfondo-first,.sfondo-second{
    width: 28%;
    height:208px;
    background-image: url(../img/monitor.jpg);
    background-size: contain;
    padding-top: 1rem; 
    padding-left: 1rem;
    margin:1.5rem 0;

}
.sfondo-second{
    background-image: url(../img/graph.jpg);
}